@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CashOverflow.Web</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/air-datepicker/css/datepicker.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/lib/font-awesome/css/all.css" rel="stylesheet">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/air-datepicker/css/datepicker.min.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
        <link href="~/lib/font-awesome/css/all.css" rel="stylesheet">
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />


    <environment include="Development">

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/lib/air-datepicker/js/datepicker.js"></script>
        <script src="~/lib/air-datepicker/js/i18n/datepicker.en.js"></script>
        <script src="~/lib/moment.js/moment.js"></script>
        <script src="~/lib/hammer.js/hammer.js"></script>
        <script src="~/lib/Chart.js/Chart.js"></script>
        <script src="~/lib/chartjs-plugin-zoom/chartjs-plugin-zoom.js"></script>
        <script src="~/lib/chartjs-plugin-datalabels/dist/chartjs-plugin-datalabels.js"></script>
        @*<script src="~/lib/chartjs-plugin-piechart-outlabels/dist/chartjs-plugin-piechart-outlabels.min.js"></script>*@
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"></script>
        <script src="~/lib/air-datepicker/js/datepicker.min.js"></script>
        <script src="~/lib/air-datepicker/js/i18n/datepicker.en.min.js"></script>
        <script src="~/lib/moment.js/moment.min.js"></script>
        <script src="~/lib/hammer.js/hammer.min.js"></script>
        <script src="~/lib/Chart.js/Chart.min.js"></script>
        <script src="~/lib/chartjs-plugin-zoom/chartjs-plugin-zoom.min.js"></script>
        <script src="~/lib/chartjs-plugin-datalabels/dist/chartjs-plugin-datalabels.min.js"></script>
        @*<script src="~/lib/chartjs-plugin-piechart-outlabels/dist/chartjs-plugin-piechart-outlabels.min.js"></script>*@
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <script>
        // Unregister Chart.js Datalabels
        Chart.plugins.unregister(ChartDataLabels);
    </script>


    <div id="pageWrapper" class="page-wrapper toggled">
        <a id="open-sidenav" class="btn btn-sm btn-dark" href="#">
            <i class="fas fa-bars"></i>
        </a>
        <nav class="sidenav-wrapper">

            <div id="close-sidenav" class="d-lg-none d-block">
                <i class="fas fa-times"></i>
            </div>
            @*<div class="sidenav-separator"></div>*@
            <div class="sidenav-item sidenav-brand">
                <a asp-action="Index" asp-controller="Home" class="cursor-pointer">
                    <span class="cash">CASH</span><span class="overflow">OVERFLOW</span>
                </a>
            </div>
            @*<div class="sidenav-separator"></div>*@
            <div class="sidenav-item sidenav-profile">
                @if (SignInManager.IsSignedIn(User))
                {
                    <img class="user-image" src="https://cheerscreative.com/wp-content/uploads/2014/12/LEGO_LOGO_RGB-300x300.jpg" width="45px" height="45px" />
                    <div class="">
                        <a class="user-name" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity.Name</a>
                        <div class="user-title">Administrator</div>
                    </div>
                }
                else
                {
                    @*<div>Welcome to CashOverflow</div>*@
                    <a role="button" asp-area="Identity" asp-page="/Account/Login" style="background: #9663b0" class="btn btn-sm text-light">Login</a>
                    @:&nbsp;or&nbsp;
                    <a role="button" asp-area="Identity" asp-page="/Account/Register" style="background: #9663b0" class="btn btn-sm text-light">Register</a>

                    @*<div>
                            <a asp-area="Identity" asp-page="/Account/Login">Login</a> to your account.
                            If you don't have one you can <a asp-area="Identity" asp-page="/Account/Register">register</a> here.
                        </div>*@
                }
            </div>
            @*<div class="sidenav-separator"></div>*@
            <div class="sidenav-item sidenav-menu">
                <ul>
                    <li class="title">General</li>
                    <li><a asp-area="" asp-controller="Dashboard" asp-action="Dashboard"><div class="icon"><i class="fas fa-tachometer-alt"></i></div>Dashboard</a></li>
                    <li><a asp-area="" asp-controller="Transactions" asp-action="All"><div class="icon"><i class="fas fa-coins"></i></div>Transactions</a></li>
                    <li><a asp-area="" asp-controller="Categories" asp-action="All"><div class="icon"><i class="fas fa-book"></i></div>Categories</a></li>
                    <li><a asp-area="" asp-controller="Todos" asp-action="All"><div class="icon"><i class="fas fa-tasks"></i></div>To-Dos</a></li>
                    <li><a asp-area="" asp-controller="Notes" asp-action="All"><div class="icon"><i class="fas fa-sticky-note"></i></div>Notes</a></li>
                    <li><a asp-area="" asp-controller="Calendar" asp-action="Calendar"><div class="icon"><i class="fas fa-calendar-alt"></i></div>Calendar</a></li>
                    <li><a asp-area="" asp-controller="Map" asp-action="Map"><div class="icon"><i class="fas fa-map-marked-alt"></i></div>Map</a></li>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="title">Admin</li>
                            <li><a asp-area="" asp-controller="Transactions" asp-action="All"><div class="icon"><i class="fas fa-coins"></i></div>Transactions</a></li>
                            <li><a asp-area="" asp-controller="Categories" asp-action="All"><div class="icon"><i class="fas fa-book"></i></div>Categories</a></li>
                        }
                        <li class="title">Account</li>
                        <li><a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><div class="icon"><i class="fas fa-cog"></i></div>Settings</a></li>
                        <li>
                            <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <span style="margin-left: -2px" onclick="document.getElementById('logoutForm').submit()" class="">
                                    <div class="icon"><i class="fas fa-sign-out-alt"></i></div>Logout
                                </span>
                            </form>
                        </li>
                    }
                </ul>
            </div>
            <div class="sidenav-item sidenav-footer">
                <div>
                    Icons made by <a target="_blank" href="https://www.freepik.com/">Freepik</a> and <a target="_blank" href="https://www.flaticon.com/authors/dinosoftlabs" title="DinosoftLabs">DinosoftLabs</a> from <a target="_blank" href="https://www.freepik.com/">www.flaticon.com</a>
                </div>
                -
                <div>
                    &copy; 2019 - CashOverflow.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </div>
        </nav>
        <main class="page-content smooth-scrolling py-4" role="main">
            <div class="container-fluid @*h-100*@" style="max-width: 1140px;">
                @RenderBody()
            </div>
        </main>
    </div>




    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2019 - CashOverflow.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>


        </footer>*@



    @RenderSection("Scripts", required: false)
</body>
</html>
