@model IEnumerable<IGrouping<string, CashOverflow.Web.ViewModels.Transaction.TransactionViewModel>>

@using CashOverflow.Models.Enum
    
@{
    ViewData["Title"] = "_TransactionsListPartial";
}


@if (Model.Count() > 0){

    <div class="">

        @foreach (var group in Model)
        {
            <div class="custom-list-group-key mb-2">
                <div class="fs-9">@group.Key</div>
            </div>

            @foreach (var transaction in group.ToList())
            {

            <div class="custom-list-group-item box-shadow-small">
                <div class="pr-3">
                    <div class="fs-7">
                        @*<i class="fab fa-accessible-icon"></i>*@
                        <img src="@transaction.Category.ImagePath" width="40" />
                    </div>
                </div>
                <div class="">
                    <div class="font-weight-bold">@transaction.Recipient</div>
                    <div class="fs-2">@transaction.Category.Name</div>
                </div>

                <div class="col-5 ml-auto d-none d-md-block">
                    <div class="fs-2 text-ellipsis"><b>Notes:</b> @transaction.Notes</div>
                    <div class="fs-2 text-ellipsis"><b>Location: </b>@transaction.Location.Address</div>

                </div>

                <div class="text-right pl-2 ml-auto ml-md-0" style="width: 125px;">
                    @if (transaction.Category.Type == CategoryType.Expense)
                        {
                    <div class="text-danger">
                        BGN @transaction.Ammount
                    </div>
                        }
                        else
                        {
                    <div class="text-success">
                        BGN @transaction.Ammount
                    </div>
                        }
                    <div class="fs-2">@transaction.Date.ToString("dd MMM yyyy")</div>
                </div>

                <div class="col-12 d-block d-md-none px-0 pt-2 mt-2" style="border-top: 1px solid #ebebeb">
                    <div class="text-ellipsis"><b>Notes:</b> @transaction.Notes</div>
                    <div class="text-ellipsis"><b>Location: </b>@transaction.Location.Address</div>
                </div>
            </div>

            }

        }

    </div>

}



