@using CashOverflow.Models.Enum
@using CashOverflow.Web.ViewModels.Partial

@model TransactionListViewModel

@{
    ViewData["Title"] = "_TransactionsListPartial";
}

@if (Model.Transactions.Count() > 0)
{
    @foreach (var group in Model.Transactions)
    {
        <div class="custom-list-group co-anchor-parent">
            <div class="custom-list-group-key mb-2 d-flex align-items-center">
                <div class="fs-9 col">@group.Key</div>
                <div class="col-auto btn-group">
                    @if (!Model.IsCategoryView)
                    {
                        <a class="btn btn-sm btn-success" asp-controller="Transactions" asp-action="Create" asp-route-type="Income" asp-route-date="@group.FirstOrDefault().Date.ToString("yyyy-MM-dd")"><i class="fas fa-plus"></i></a>
                        <a class="btn btn-sm btn-danger" asp-controller="Transactions" asp-action="Create" asp-route-type="Expense" asp-route-date="@group.FirstOrDefault().Date.ToString("yyyy-MM-dd")"><i class="fas fa-plus"></i></a>
                    }
                </div>
            </div>

            @foreach (var transaction in group.ToList())
            {

                <div class="co-card co-anchor mb-2">
                    <div class="co-card-header row">
                        <div class="col-auto">
                            <img class="co-list-item-image-md" src="@transaction.Category.ImagePath" />
                        </div>
                        <div class="col pl-0">
                            <div class="font-weight-bold " style="line-height: 1;">@transaction.Recipient</div>
                            <a asp-controller="Categories" asp-action="Details" asp-route-id="@transaction.Category.Id" class="no-style fs-2">@transaction.Category.Name</a>
                        </div>
                        <div class="col fs-2 d-sm-block d-none">
                            @if (transaction.Notes != null)
                            {
                                <div class="text-ellipsis"><b>Notes:</b> @transaction.Notes</div>
                            }

                            @if (transaction.Location != null)
                            {
                                <div class="text-ellipsis"><b>Location: </b>@transaction.Location.Name</div>
                            }
                        </div>
                        <div class="col text-right  pr-0">
                            @if (transaction.Category.Type == CategoryType.Expense)
                            {
                                <div class="text-danger">
                                    BGN @transaction.Ammount
                                </div>
                            }
                            else
                            {
                                <div class="text-success">
                                    BGN @transaction.Ammount
                                </div>
                            }

                            @if (Model.ShowDate || Model.IsCategoryView)
                            {
                                <div class="fs-2">
                                    @transaction.Date.ToString("dd MMM yyyy")
                                </div>
                            }
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn hover text-accent" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-h"></i>
                            </button>
                            <div class="dropdown-menu co-dropdown">
                                <a asp-controller="Transactions" asp-action="Edit" asp-route-id="@transaction.Id" class="co-dropdown-item no-style">
                                    <div class="co-dropdown-icon">
                                        <i class="fas fa-pen"></i>
                                    </div>
                                    Edit
                                </a>
                                <a class="co-dropdown-item no-style" onclick='deleteAsk("transaction", @Html.Raw(Json.Serialize(transaction)), $(this))' data-toggle="modal" data-target="#deleteAskModal">
                                    <div class="co-dropdown-icon">
                                        <i class="fas fa-trash"></i>
                                    </div>
                                    Delete
                                </a>
                            </div>
                        </div>
                    </div>
                    @if (transaction.Notes != null && transaction.Location != null)
                    {
                        <div class="col d-sm-none d-block py-3 px-3 fs-2 border-top">
                        @if (transaction.Notes != null)
                        {
                            <div class="text-ellipsis"><b>Notes:</b> @transaction.Notes</div>
                        }

                        @if (transaction.Location != null)
                        {
                            <div class="text-ellipsis"><b>Location: </b>@transaction.Location.Name</div>
                        }
                    </div>
                    }
                </div>

            }

        </div>

    }
}